<div *ngIf="shouldShowList()">
  <h2>Список проектов</h2>

  <div *ngIf="loading">Загрузка...</div>
  <div *ngIf="error">{{ error }}</div>

  <button [routerLink]="['/projects/new']">Создать проект</button>

  <table *ngIf="!loading && !error">
    <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.start_date | date: 'dd.MM.yyyy' }}</td>
        <td>{{ project.finish_date | date: 'dd.MM.yyyy' }}</td>
        <td>
          <a [routerLink]="['/projects', project.id]">Редактировать</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
